body {
	padding: 0;
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: url('../img/drop-of-water.jpg');
	background-size: cover;
}


.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0, 0, 0, .7);
	width: 480px;
	padding: 40px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}


.box .inputBox {
	position: relative;
}

.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1px solid #fff;
	letter-spacing: 1px;
}

.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label, 
.box .inputBox input:valid ~ label {
	top: -20px;
	left: 0;
	color: #03a9f6;
	font-size: 12px;
}

.box input[type="submit"] {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9df;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}